body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main-cnt{
    background-color: rgb(136, 109, 154);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#board{
    display: flex;
    position: absolute;
    z-index: 2;
}

#map-cnt{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sb-map{
    display: flex;
    position: relative;
    height: 80%;
}

#bg-map{
    display: flex;
    position: absolute;
    height: 80%;
    pointer-events: none;
    z-index: 5;
}

#percentage{
    font-size: 83px;
}